#myForm {
    width: 500px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
}
#myForm input{
    width: 350px;
    height: 40px;
}
#myForm button{
    width: 80px;
    height: 30px;
}